body{
    background-color: aqua;
    margin: auto;
}

h1{
    color: aquamarine;
    background-color: black;
    border: 2px white solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    font-style: italic;
    font-weight: bold;
}

ol{
    background-color: yellow;
}

img{
    width: 10cm;
    border: 5px wheat dotted;
    margin: auto;
}